<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/svg/medi-clue-logo.svg" id="icon" alt="User Icon" />
    </div>

    <!-- Register Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="Navn" placeholder="Navn">
      <input type="text" id="password" class="fadeIn third" name="bam-id" placeholder="BAM-ID">
      <input type="email" id="login" class="fadeIn second" name="mail" placeholder="Arbejdsmail">
      <input type="date" id="password" class="fadeIn third" name="ansat-dato" placeholder="Ansættelsesdato">
      <input type="password" id="login" class="fadeIn second" name="password" placeholder="Kodeord">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Gentag Kodeord">
      <input type="submit" class="fadeIn fourth" value="Opret Bruger">
    </form>

    <!-- Return to Homepage -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Retur</a>
    </div>

  </div>
</div>